# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Builds
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
build
cmake-build-*
.idea
.idea/*
Index
Build
Pods
Podfile.lock
*.xcworkspacedata
.version
.vscode